<!-- Footer Start -->
<div id="contact" class="footer">
    <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-4">
              <div class="footer-contact">
                  <h2>Get In Touch</h2>
                  <p><i class="fa fa-map-marker-alt"></i>6A, Shyam Enclave, Nitco Wali Gali, Gyani Border, Sahibabad, Ghaziabad, Uttar Pradesh - 201005</p>
                  <p><i class="fa fa-phone-alt"></i><a href="tel:8076991689">+91 8076991689</a></p>
                  <p><i class="fa fa-envelope"></i><a href="mailto:vinodgarg12201@gmail.com">vinodgarg12201@gmail.com</a></p>
                  <div class="footer-social">

                      <a class="btn" href="https://www.facebook.com/SKM.spareparts/?notif_id=1643972303614735&notif_t=page_invite_accept&ref=notif" target="_blank"><i class="fab fa-facebook-f"></i></a>
                      <a class="btn" href="https://www.youtube.com/channel/UCcXWUMFZgf1bceKVU693mQQ" target="_blank"><i class="fab fa-youtube"></i></a>
                      <a class="btn" href="https://www.instagram.com/shri_krishna_motors_/" target="_blank"><i class="fab fa-instagram"></i></a>
                      <a class="btn" href="" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-4">
              <div class="footer-newsletter">
                  <h2>Contact Us</h2>
                  <form action="https://formsubmit.co/vinodgarg12201@gmail.com" method="POST">
                      <input class="form-control" placeholder="Full Name" name="Name">
                      <input class="form-control" placeholder="Email" name="E-mail">

                          <textarea class="form-control" placeholder="Message" name="Message" required="required"></textarea>

                      <button class="btn btn-custom" type="submit">Submit</button>
                  </form>
              </div>
          </div>
          <div class="col-lg-4 col-md-4" >
            <iframe class="iframe-class" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3500.3905255565237!2d77.33785261508365!3d28.677962382399908!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cfbd2b3e606f5%3A0x63c8c38cb651b651!2sShri%20Krishna%20Motors!5e0!3m2!1sen!2sin!4v1643974995529!5m2!1sen!2sin"  style="border:0;" allowfullscreen="" loading="lazy" target="_blank"></iframe>

          </div>




        </div>
    </div>
    <div id="" class="container copyright">
        <p>&copy; <a href="#">SKM</a>, All Right Reserved. Designed By <a href="">ADA</a></p>
    </div>
</div>
<!-- Footer End -->

<!-- Back to top button -->
<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/waypoints/waypoints.min.js"></script>
<script src="lib/counterup/counterup.min.js"></script>
<script src="lib/owlcarousel/js/owl.carousel.min.js"></script>

<!-- Contact Javascript File -->
<script src="mail/jqBootstrapValidation.min.js"></script>
<script src="mail/contact.js"></script>

<!-- Template Javascript -->
<script src="js/main.js"></script>
</body>
</html>
