<!-- Footer Start -->
<div id="contact" class="footer">
    <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-4">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3500.390472089173!2d77.33788231508362!3d28.677963982400005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0!2zMjjCsDQwJzQwLjciTiA3N8KwMjAnMjQuMyJF!5e0!3m2!1sen!2sin!4v1643743326039!5m2!1sen!2sin" width="80%" height="80%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

          </div>
            <div class="col-lg-4 col-md-4">
                <div class="footer-contact">
                    <h2>Get In Touch</h2>
                    <p><i class="fa fa-map-marker-alt"></i>123 Street, New York, USA</p>
                    <p><i class="fa fa-phone-alt"></i>+012 345 67890</p>
                    <p><i class="fa fa-envelope"></i>info@example.com</p>
                    <div class="footer-social">
                        <a class="btn" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn" href=""><i class="fab fa-instagram"></i></a>
                        <a class="btn" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-md-4">
                <div class="footer-newsletter">
                    <h2>Contact Us</h2>
                    <form>
                        <input class="form-control" placeholder="Full Name">
                        <input class="form-control" placeholder="Email">

                            <textarea class="form-control" placeholder="Description" required="required"></textarea>

                        <button class="btn btn-custom">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="" class="container copyright">
        <p>&copy; <a href="#">KSM</a>, All Right Reserved. Designed By <a href="">ADA</a></p>
    </div>
</div>
<!-- Footer End -->

<!-- Back to top button -->
<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

<!-- Pre Loader -->
<div id="loader" class="show">
    <div class="loader"></div>
</div>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>
<script src="lib/waypoints/waypoints.min.js"></script>
<script src="lib/counterup/counterup.min.js"></script>

<!-- Contact Javascript File -->
<script src="mail/jqBootstrapValidation.min.js"></script>
<script src="mail/contact.js"></script>

<!-- Template Javascript -->
<script src="js/main.js"></script>
</body>
</html>
