<%- include("header") -%>
<!-- Carousel Start -->
<div class="carousel">
  <div class="container-fluid">
    <div class="owl-carousel">
      <div class="carousel-item">
        <div class="carousel-img">
          <img src="img/fifth.png" alt="Image">
        </div>
        <div class="carousel-text">
          <p>
            "Your one stop shop for parts you need !"
          </p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="carousel-img">
          <img src="img/third.png" alt="Image">
        </div>
        <div class="carousel-text">
          <!-- <h1>SHRI KRISHNA MOTORS</h1> -->
          <p>"Your one stop shop for parts you need !" </p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="carousel-img">
          <img src="img/fourth.png" alt="Image">
        </div>
        <div class="carousel-text">
          <p>
            "Your one stop shop for parts you need !"
          </p>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- Carousel End -->


<!-- About Start -->
<section id="about">


<div class="about">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-4">
        <div class="about-img">
          <img src="img/about.jpg" alt="Image">
        </div>
      </div>
      <div class="col-lg-8">
        <div class="section-header text-left">
          <p>About Us</p>
          <h2>SHRI KRISHNA MOTORS</h2>
        </div>
        <div class="about-content">
          <p>Being one of the finest leading businesses in the automobile industry (heavy-duty vehicles), the goal is clear & simple, to provide <strong>High-Quality</strong> products at <strong>Low Cost</strong> with the <strong>greatest efficiency</strong>. SKM's valuable customers have higher expectations of us. Maintaining the belief you have in us is SKM's motive. Trust is what we deal in. We provide easy exchanges and returns.
            </p>
            <p>SKM carries a great story with itself, the business has been founded in 1985 by Shri Bal Kishan and successfully established by his son Shri Vinod Kumar in 1987 & to this date. It all started with a very basic thought of earning a lifestyle and respect in the society by providing genuine products in the market. And today, SKM earned all of it working with the valuable family of <strong>500+ CLIENTS</strong> & DEALERS over these <strong>35+ YEARS.</strong></p>
          <p>After all these years, SKM didn't stop here and aimed to serve the consumers with the most GENUINE products & services. SKM is serving consumers all over the country and mainly in regions of Uttar Pradesh & Delhi through delivery services. Orders and deliveries are handled with special care and safety. SKM offers a massive range of products in Oil & Grease, Gear parts, Engine parts, Electricals, Genuine Filters, Clutch parts, Steering & Suspension spare parts, etc.</p>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- About End -->
</section>

<div class="carousel-2 mt-top">
  <div class="container">
    <div class="section-header text-center">
      <p>Top Rated</p>
      <h2>Spare Parts</h2>
    </div>
    <div class="owl-carousel product-carousel">

        <div class=" testimonial-item card 1">
          <div class="card_image"> <img src="img/Clutch-Kit.jpg" /> </div>
          <div class="card_title ">
            <p>Clutch Kit</p>
          </div>
        </div>

        <div class="testimonial-item card 2">
          <div class="card_image">
            <img src="img/Crown-Parts.jpg" />
          </div>
          <div class="card_title ">
            <p>Crown Parts</p>
          </div>
        </div>

        <div class=" testimonial-item card 3">
          <div class="card_image">
            <img src="img/electricals.jpg" />
          </div>
          <div class="card_title">
            <p>Electricals</p>
          </div>
        </div>

        <div class="testimonial-item card 4">
          <div class="card_image">
            <img src="img/engine-parts.jpg" />
          </div>
          <div class="card_title title-black">
            <p>Engine Parts</p>
          </div>
        </div>

        <div class="testimonial-item card 4">
          <div class="card_image">
            <img src="img/filters.jpg" />
          </div>
          <div class="card_title title-black">
            <p>Filters</p>
          </div>
        </div>

        <div class="testimonial-item card 4">
          <div class="card_image">
            <img src="img/Gear-Box-Parts.jpg" />
          </div>
          <div class="card_title title-black">
            <p>Gear Box Parts</p>
          </div>
        </div>

        <div class="testimonial-item card 4">
          <div class="card_image">
            <img src="img/injection-pump.jpg" />
          </div>
          <div class="card_title title-black">
            <p>Injection Pump</p>
          </div>
        </div>

        <div class="testimonial-item card 4">
          <div class="card_image">
            <img src="img/oil-grease.png" />
          </div>
          <div class="card_title title-black">
            <p>Oil And Grease</p>
          </div>
        </div>

        <div class="testimonial-item card 4">
          <div class="card_image">
            <img src="img/steering-and-suspension.jpg" />
          </div>
          <div class="card_title title-black">
            <p>Steering And Suspension</p>
          </div>
        </div>

        <div class="testimonial-item card 4">
          <div class="card_image">
            <img src="img/headlights.jpg" />
          </div>
          <div class="card_title title-black">
            <p>Headlights</p>
          </div>
        </div>

    </div>
  </div>
</div>

<section id="services">


<!-- Service Start -->
<div class="service mt-top">
  <div class="container">
    <div class="section-header text-center">
      <p>What We Serve?</p>
      <h2>Truck's Spare Parts</h2>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="service-item">
          <center><img src="img/quality-assurance.png" alt="" class="sicon"></center>
          <h3>QUALITY PRODUCTS</h3>
          <p>Established with an aim to offer the superior quality genuine products and services.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="service-item">
          <center><img src="img/engineering.png" alt="" class="sicon"></center>
          <h3>WIDER RANGE PRODUCTS</h3>
          <p>We provide a wide range of products that covers almost all the categories of heavy vehicle/truck spare parts.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="service-item">
          <center><img src="img/express-delivery.png" alt="" class="sicon"></center>
          <h3>TIMELY DELIVERY</h3>
          <p> We are known for delivering products on time to the customers.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="service-item">
          <center><img src="img/order.png" alt="" class="sicon"></center>
          <h3>BULK ORDERS</h3>
          <p>We take bulk orders from all type of customers and companies.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="service-item">
          <center><img src="img/lowest-price.png" alt="" class="sicon"></center>
          <h3>LOWEST PRICE PRODUCTS</h3>
          <p>We provide lowest & genuine prices for every prouct.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="service-item">
          <center><img src="img/fast.png" alt="" class="sicon"></center>
          <h3>RESPONSIVENESS</h3>
          <p>Provide our customers with easy exchanges and returns.</p>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- Service End -->
</section>


<!-- Facts Start -->
<div class="facts" data-parallax="scroll" data-image-src="img/facts.jpg">
  <div class="container">
    <div class="row">

      <div class="col-lg-3 col-md-6">
        <div class="facts-item">
          <i class="fa fa-check"></i>
          <div class="facts-text">
            <h3 data-toggle="counter-up">35</h3>
            <p>Years Of <br>Experience</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="facts-item">
        <i class="far fa-handshake"></i>
          <div class="facts-text">
            <h3 data-toggle="counter-up">150</h3>
            <p>Collaborated companies</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="facts-item">
          <i class="fa fa-users"></i>
          <div class="facts-text">
            <h3 data-toggle="counter-up">500</h3>
            <p>Happy Clients</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="facts-item">
<i class="fas fa-box-open"></i>          <div class="facts-text">
            <h3 data-toggle="counter-up">2000</h3>
            <p>Products And Categories</p>
          </div>
        </div>
      </div>



    </div>
  </div>
</div>
<!-- Facts End -->
<section id="ass">


  <div class="container clients-carousel mt-top">
    <div class="section-header text-center">
      <p>Our Top</p>
      <h2>Associations / Brands</h2>
    </div>
    <div class="owl-carousel ">

        <div class="client-img">
          <img src="img/1.png" alt="">
        </div>
        <div class="client-img">
          <img src="img/2.png" alt="">
        </div>
        <div class="client-img">
          <img src="img/3.png" alt="">
        </div>
        <div class="client-img">
          <img src="img/4.png" alt="">
        </div>
        <div class="client-img">
          <img src="img/5.png" alt="">
        </div>
        <div class="client-img">
          <img src="img/6.png" alt="">
        </div>
        <div class="client-img">
          <img src="img/7.png" alt="">
        </div>
        <div class="client-img">
          <img src="img/8.png" alt="">
        </div>
        <div class="client-img">
          <img src="img/9.png" alt="">
        </div>
    </div>
  </div>

  <div class="collage">
  <center><img src="img/collage1.png" alt="" width="84%"></center>
  </div>
  </section>

<!-- Testimonial Start -->
<div class="testimonial">
  <div class="container">
    <div class="section-header text-center">
      <p>Testimonial</p>
      <h2>What our clients say</h2>
    </div>
    <div class="owl-carousel testimonials-carousel">
      <div class="testimonial-item">
        <img src="img/testi1.png" alt="Image">
        <div class="testimonial-text">
          <h3>Super Safe Logistics</h3>

          <p>
            When it comes to Spare parts, SKM has been way ahead of other vendors. They provides a very wide range of spare parts for trucks.
          </p>
        </div>
      </div>
      <div class="testimonial-item">
        <img src="img/testi2.png" alt="Image">
        <div class="testimonial-text">
          <h3>Sikkim Logistics</h3>

          <p>
            SKM has been supplying Genuine Spare Parts to us since we started our business. Quick delivery, genuine packing, right prices. Response time is excellent.
          </p>
        </div>
      </div>
      <div class="testimonial-item">
        <img src="img/testi3.png" alt="Image">
        <div class="testimonial-text">
          <h3>IP Transport</h3>

          <p>
          Lowest & real prices is what we found the best doing business with SKM. With easy returns & exchanges we get best services from SKM.
          </p>
        </div>
      </div>
      <div class="testimonial-item">
        <img src="img/testi4.png" alt="Image">
        <div class="testimonial-text">
          <h3> Guwahati Indore</h3>

          <p>
            SKM has been supplying best and genuine spare parts like oil & grease till this date where many duplicates are running in the market. Never had any complaints from our drivers.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


<%- include("footer") -%>
