<%- include("header") -%>
<!-- Carousel Start -->
<div class="carousel">
  <div class="container-fluid">
    <div class="owl-carousel">
      <div class="carousel-item">
        <div class="carousel-img">
          <img src="img/carousel-1.jpg" alt="Image">
        </div>
        <div class="carousel-text">
          <h1>SHRI KRISHNA MOTORS</h1>
          <p>
            your one stop shop for parts you need
          </p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="carousel-img">
          <img src="img/carousel-2.jpg" alt="Image">
        </div>
        <div class="carousel-text">
          <h1>SHRI KRISHNA MOTORS</h1>
          <p>
            Your one stop shop for parts you need.
          </p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="carousel-img">
          <img src="img/carousel-3.jpg" alt="Image">
        </div>
        <div class="carousel-text">
          <h1>SHRI KRISHNA MOTORS</h1>
          <p>
            your one stop shop for parts you need
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Carousel End -->


<!-- About Start -->
<div class="about">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="about-img">
          <img src="img/about.jpg" alt="Image">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="section-header text-left">
          <p>About Us</p>
          <h2>SHRI KRISHNA Motors</h2>
        </div>
        <div class="about-content">
          <p>
            Lorem ipsum dolor sit amet elit. In vitae turpis. Donec in hendre dui, vel blandit massa. Ut vestibu suscipi cursus. Cras quis porta nulla, ut placerat risus. Aliquam nec magna eget velit luctus dictum
          </p>
          <ul>
            <li><i class="far fa-check-circle"></i>Seats washing</li>
            <li><i class="far fa-check-circle"></i>Vacuum cleaning</li>
            <li><i class="far fa-check-circle"></i>Interior wet cleaning</li>
            <li><i class="far fa-check-circle"></i>Window wiping</li>
          </ul>
          <a class="btn btn-custom" href="">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- About End -->

<div class="">
  <div class="container">
    <div class="section-header text-center">
      <p>Products</p>
    </div>
    <div class="owl-carousel product-carousel">

        <div class=" testimonial-item card 1">
          <div class="card_image"> <img src="https://i.redd.it/b3esnz5ra34y.jpg" /> </div>
          <div class="card_title title-white">
            <p>Card Title</p>
          </div>
        </div>

        <div class="testimonial-item card 2">
          <div class="card_image">
            <img src="https://cdn.blackmilkclothing.com/media/wysiwyg/Wallpapers/PhoneWallpapers_FloralCoral.jpg" />
          </div>
          <div class="card_title title-white">
            <p>Card Title</p>
          </div>
        </div>

        <div class=" testimonial-item card 3">
          <div class="card_image">
            <img src="https://media.giphy.com/media/10SvWCbt1ytWCc/giphy.gif" />
          </div>
          <div class="card_title">
            <p>Card Title</p>
          </div>
        </div>

        <div class="testimonial-item card 4">
          <div class="card_image">
            <img src="https://media.giphy.com/media/LwIyvaNcnzsD6/giphy.gif" />
          </div>
          <div class="card_title title-black">
            <p>Card Title</p>
          </div>
        </div>



    </div>
  </div>
</div>
<!-- Service Start -->
<div class="service">
  <div class="container">
    <div class="section-header text-center">
      <p>What We Do?</p>
      <h2>Premium Washing Services</h2>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="service-item">
          <i class="flaticon-car-wash-1"></i>
          <h3>Exterior Washing</h3>
          <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="service-item">
          <i class="flaticon-car-wash"></i>
          <h3>Interior Washing</h3>
          <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="service-item">
          <i class="flaticon-vacuum-cleaner"></i>
          <h3>Vacuum Cleaning</h3>
          <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="service-item">
          <i class="flaticon-seat"></i>
          <h3>Seats Washing</h3>
          <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="service-item">
          <i class="flaticon-car-service"></i>
          <h3>Window Wiping</h3>
          <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="service-item">
          <i class="flaticon-car-service-2"></i>
          <h3>Wet Cleaning</h3>
          <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="service-item">
          <i class="flaticon-car-wash"></i>
          <h3>Oil Changing</h3>
          <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="service-item">
          <i class="flaticon-brush-1"></i>
          <h3>Brake Reparing</h3>
          <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Service End -->


<!-- Facts Start -->
<div class="facts" data-parallax="scroll" data-image-src="img/facts.jpg">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="facts-item">
          <i class="fa fa-map-marker-alt"></i>
          <div class="facts-text">
            <h3 data-toggle="counter-up">25</h3>
            <p>Service Points</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="facts-item">
          <i class="fa fa-user"></i>
          <div class="facts-text">
            <h3 data-toggle="counter-up">350</h3>
            <p>Engineers & Workers</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="facts-item">
          <i class="fa fa-users"></i>
          <div class="facts-text">
            <h3 data-toggle="counter-up">1500</h3>
            <p>Happy Clients</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="facts-item">
          <i class="fa fa-check"></i>
          <div class="facts-text">
            <h3 data-toggle="counter-up">5000</h3>
            <p>Projects Completed</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Facts End -->

<!-- Testimonial Start -->
<div class="testimonial">
  <div class="container">
    <div class="section-header text-center">
      <p>Testimonial</p>
      <h2>What our clients say</h2>
    </div>
    <div class="owl-carousel testimonials-carousel">
      <div class="testimonial-item">
        <img src="img/testimonial-1.jpg" alt="Image">
        <div class="testimonial-text">
          <h3>Client Name</h3>
          <h4>Profession</h4>
          <p>
            Lorem ipsum dolor sit amet elit. Phasel preti mi facilis ornare velit non vulputa. Aliqu metus tortor auctor gravid
          </p>
        </div>
      </div>
      <div class="testimonial-item">
        <img src="img/testimonial-2.jpg" alt="Image">
        <div class="testimonial-text">
          <h3>Client Name</h3>
          <h4>Profession</h4>
          <p>
            Lorem ipsum dolor sit amet elit. Phasel preti mi facilis ornare velit non vulputa. Aliqu metus tortor auctor gravid
          </p>
        </div>
      </div>
      <div class="testimonial-item">
        <img src="img/testimonial-3.jpg" alt="Image">
        <div class="testimonial-text">
          <h3>Client Name</h3>
          <h4>Profession</h4>
          <p>
            Lorem ipsum dolor sit amet elit. Phasel preti mi facilis ornare velit non vulputa. Aliqu metus tortor auctor gravid
          </p>
        </div>
      </div>
      <div class="testimonial-item">
        <img src="img/testimonial-4.jpg" alt="Image">
        <div class="testimonial-text">
          <h3>Client Name</h3>
          <h4>Profession</h4>
          <p>
            Lorem ipsum dolor sit amet elit. Phasel preti mi facilis ornare velit non vulputa. Aliqu metus tortor auctor gravid
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Testimonial End -->
<!-- <div class="container-fluid">
                  <div class="row">
                    <div class="col-md-12">
                      <div id="news-slider" class="owl-carousel">
                        <div class="post-slide">
                          <div class="post-img">
                            <img src="https://images.unsplash.com/photo-1596265371388-43edbaadab94?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=301&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=80&w=501" alt="">
                            <a href="#" class="over-layer"><i class="fa fa-link"></i></a>
                          </div>
                          <div class="post-content">
                            <h3 class="post-title">
                              <a href="#">Lorem ipsum dolor sit amet.</a>
                            </h3>
                            <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consectetur cumque dolorum, ex incidunt ipsa laudantium necessitatibus neque quae tempora......</p>
                            <span class="post-date"><i class="fa fa-clock-o"></i>Out 27, 2019</span>
                            <a href="#" class="read-more">read more</a>
                          </div>
                        </div>

                        <div class="post-slide">
                          <div class="post-img">
                            <img src="https://images.unsplash.com/photo-1533227268428-f9ed0900fb3b?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=303&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=80&w=503" alt="">
                            <a href="#" class="over-layer"><i class="fa fa-link"></i></a>
                          </div>
                          <div class="post-content">
                            <h3 class="post-title">
                              <a href="#">Lorem ipsum dolor sit amet.</a>
                            </h3>
                            <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consectetur cumque dolorum, ex incidunt ipsa laudantium necessitatibus neque quae tempora......</p>
                            <span class="post-date"><i class="fa fa-clock-o"></i>Out 27, 2019</span>
                            <a href="#" class="read-more">read more</a>
                          </div>
                        </div>

                        <div class="post-slide">
                          <div class="post-img">
                            <img src="https://images.unsplash.com/photo-1564979268369-42032c5ca998?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=300&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=80&w=500" alt="">
                            <a href="#" class="over-layer"><i class="fa fa-link"></i></a>
                          </div>
                          <div class="post-content">
                            <h3 class="post-title">
                              <a href="#">Lorem ipsum dolor sit amet.</a>
                            </h3>
                            <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consectetur cumque dolorum, ex incidunt ipsa laudantium necessitatibus neque quae tempora......</p>
                            <span class="post-date"><i class="fa fa-clock-o"></i>Out 27, 2019</span>
                            <a href="#" class="read-more">read more</a>
                          </div>
                        </div>

                        <div class="post-slide">
                          <div class="post-img">
                            <img src="https://images.unsplash.com/photo-1576659531892-0f4991fca82b?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=301&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=80&w=501" alt="">
                            <a href="#" class="over-layer"><i class="fa fa-link"></i></a>
                          </div>
                          <div class="post-content">
                            <h3 class="post-title">
                              <a href="#">Lorem ipsum dolor sit amet.</a>
                            </h3>
                            <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consectetur cumque dolorum, ex incidunt ipsa laudantium necessitatibus neque quae tempora......</p>
                            <span class="post-date"><i class="fa fa-clock-o"></i>Out 27, 2019</span>
                            <a href="#" class="read-more">read more</a>
                          </div>
                        </div>

                        <div class="post-slide">
                          <div class="post-img">
                            <img src="https://images.unsplash.com/photo-1586083702768-190ae093d34d?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=305&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=80&w=505" alt="">
                            <a href="#" class="over-layer"><i class="fa fa-link"></i></a>
                          </div>
                          <div class="post-content">
                            <h3 class="post-title">
                              <a href="#">Lorem ipsum dolor sit amet.</a>
                            </h3>
                            <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consectetur cumque dolorum, ex incidunt ipsa laudantium necessitatibus neque quae tempora......</p>
                            <span class="post-date"><i class="fa fa-clock-o"></i>Out 27, 2019</span>
                            <a href="#" class="read-more">read more</a>
                          </div>
                        </div>

                        <div class="post-slide">
                          <div class="post-img">
                            <img src="https://images.unsplash.com/photo-1484656551321-a1161420a2a0?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=306&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=80&w=506" alt="">
                            <a href="#" class="over-layer"><i class="fa fa-link"></i></a>
                          </div>
                          <div class="post-content">
                            <h3 class="post-title">
                              <a href="#">Lorem ipsum dolor sit amet.</a>
                            </h3>
                            <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consectetur cumque dolorum, ex incidunt ipsa laudantium necessitatibus neque quae tempora......</p>
                            <span class="post-date"><i class="fa fa-clock-o"></i>Out 27, 2019</span>
                            <a href="#" class="read-more">read more</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> -->


<%- include("footer") -%>
