<%- include("header") -%>

<!-- Service Start -->
<div class="service">
    <div class="container">
        <div class="section-header text-center">
            <h2>Spare Parts</h2>
        </div>
        <div class="row">
           <div class="col-lg-12">
              <h2 class="head">ASSEMBLY</h2>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Air Filter</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Steering Cross </h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Diesel Filter</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Oil Filter</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Water Pump</h4>
           </div>
        </div>
        <div class="row">
           <div class="col-lg-12">
              <h2 class="head">AXLE</h2>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Rear Axle Ki Patti</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Rear Axle</h4>
           </div>
        </div>
        <div class="row">
           <div class="col-lg-12">
              <h2 class="head">BATTERY COMPONENTS</h2>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Terminal</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Joint Lead</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Main Lead</h4>
           </div>
        </div>
        <div class="row">
           <div class="col-lg-12">
              <h2 class="head">BEARING</h2>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Center</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Hub</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Steering</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Gear</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Crown</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>King Pin</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Center(Bracket & Patti)</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Alternator</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Flywheel</h4>
           </div>
        </div>
        <div class="row">
           <div class="col-lg-12">
              <h2 class="head">BRAKE</h2>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Racher</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Adjustor</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Cam</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Leather</h4>
           </div>
        </div>
        <div class="row">
           <div class="col-lg-12">
              <h2 class="head">BUSH</h2>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Front</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Rear</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Bell Crank</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Lift Shocker</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>King Pin</h4>
           </div>
        </div>
        <div class="row">
           <div class="col-lg-12">
              <h2 class="head">CABIN </h2>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Meter Plate</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Gang Box/Switch Board</h4>
           </div>
        </div>
        <div class="row">
           <div class="col-lg-12">
              <h2 class="head">CNG</h2>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Plug</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Coil</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Oil</h4>
           </div>
        </div>
        <div class="row">
           <div class="col-lg-12">
              <h2 class="head">COMPONENT</h2>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Coupling</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle">Cross Holder</span></h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle">Teeth</span></h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle">UJ Cross</span></h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle">Yoke</span></h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle">Relay</span></h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle">Combination Switch</span></h4>
           </div>
        </div>
        <div class="row">
           <div class="col-lg-12">
              <h2 class="head">COUPLING</h2>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle">Center Bearing</span></h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle">Gear</span></h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle">Defensal</span></h4>
           </div>
        </div>
        <div class="row">
           <div class="col-lg-12">
              <h2 class="head">FAN</h2>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle">Cabin Fan</span></h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle">Water Body Fan</span></h4>
           </div>
        </div>
        <div class="row">
           <div class="col-lg-12">
              <h2 class="head">FILTER</h2>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle">Steering</span></h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle">Diesel</span></h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle">Urea/Diesel Exhaust Fluid</span></h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle">Oil</span></h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle">Air</span></h4>
           </div>
        </div>
        <div class="row">
           <div class="col-lg-12">
              <h2 class="head">FUSE</h2>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle">Fuse Box</span></h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle">Fuse (For Battery)</span></h4>
           </div>
        </div>
        <div class="row">
           <div class="col-lg-12">
              <h2 class="head">GREASE</h2>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle">Gel Red</span></h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle">APXL Green</span></h4>
           </div>
        </div>
        <div class="row">
           <div class="col-lg-12">
              <h2 class="head">HORN</h2>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle">Musical</span></h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle">Pressure</span></h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle">TT</span></h4>
           </div>
        </div>
        <div class="row">
           <div class="col-lg-12">
              <h2 class="head">HYDRAULIC JACK</h2>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle">Rod</span></h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle">Tire Liver</span></h4>
           </div>
        </div>
        <div class="row">
           <div class="col-lg-12">
              <h2 class="head">KIT</h2>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle">Clutch Plate</span></h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle">Pressure Plate</span></h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle">Defensal Complete (Kada Pinon)</span></h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle">Flywheel Complete (Kada)</span></h4>
           </div>
        </div>
        <div class="row">
           <div class="col-lg-12">
              <h2 class="head">LIGHT(Bulb/Glass/Socket/Holder/Cutout)</h2>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle">Head Lights</span></h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle">Parking Lights</span></h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle">Search Lights</span></h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle">Cabin Lights</span></h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle">Crown</span></h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle">Center Bearing</span></h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle">Steering</span></h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle">Engine</span></h4>
           </div>
        </div>
        <div class="row">
           <div class="col-lg-12">
              <h2 class="head">LOCK SET</h2>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle">Gear Box</span></h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle">King Pin</span></h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle">Cam</span></h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle">Steering</span></h4>
           </div>
        </div>
        <div class="row">
           <div class="col-lg-12">
              <h2 class="head">LOCK CAP</h2>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle">Diesel Tank</span></h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle">Radiator</span></h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle">Engine (Tap It)</span></h4>
           </div>
        </div>
        <div class="row">
           <div class="col-lg-12">
              <h2 class="head">MAIN PARTS</h2>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle">Tie Rod End</span></h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle">Front Axle Gouda</span></h4>
           </div>
        </div>
        <div class="row">
           <div class="col-lg-12">
              <h2 class="head">MISCELLANEOUS PARTS</h2>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle">Radiator Coolant</span></h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle">Distilled Water (For battery)</span></h4>
           </div>
        </div>
        <div class="row">
           <div class="col-lg-12">
              <h2 class="head">MOUNTING</h2>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle">Engine</span></h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle">Cabin</span></h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle">Radiator</span></h4>
           </div>
        </div>


        
    </div>
</div>
<!-- Service End -->

<%- include("footer") -%>
