<%- include("header") -%>

<!-- Service Start -->
<div class="service">
    <div class="container">
        <div class="section-header text-center">
            <h2>Spare Parts</h2>
        </div>
        <div class="row">
           <div class="col-lg-12">
              <h2 class="head">ASSEMBLY</h2>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Air Filter</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Steering Cross </h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Diesel Filter</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Oil Filter</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Water Pump</h4>
           </div>
        </div>
        <div class="row">
           <div class="col-lg-12">
              <h2 class="head">AXLE</h2>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Rear Axle Ki Patti</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Rear Axle</h4>
           </div>
        </div>
        <div class="row">
           <div class="col-lg-12">
              <h2 class="head">BATTERY COMPONENTS</h2>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Terminal</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Joint Lead</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Main Lead</h4>
           </div>
        </div>
        <div class="row">
           <div class="col-lg-12">
              <h2 class="head">BEARING</h2>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Center</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Hub</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Steering</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Gear</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Crown</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>King Pin</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Center(Bracket & Patti)</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Alternator</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Flywheel</h4>
           </div>
        </div>
    </div>
</div>
<!-- Service End -->

<%- include("footer") -%>
