<%- include("header") -%>
<div class="pbanner">
  <img src="img/first.png" alt=""  >

</div>
<!-- Service Start -->
<div class="service">
    <div class="container">
        <div class="section-header text-center">
            <h2>Spare Parts</h2>
        </div>
        <div class="row">
           <div class="col-lg-12 ">
              <h2 class="head">ASSEMBLY</h2>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Air Filter</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Steering Cross </h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Diesel Filter</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Oil Filter</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Water Pump</h4>
           </div>
        </div>
        <div class="row">
           <div class="col-lg-12 mt-top">
              <h2 class="head">AXLE</h2>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Rear Axle Ki Patti</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Rear Axle</h4>
           </div>
        </div>
        <div class="row">
           <div class="col-lg-12 mt-top">
              <h2 class="head">BATTERY COMPONENTS</h2>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Terminal</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Joint Lead</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Main Lead</h4>
           </div>
        </div>
        <div class="row">
           <div class="col-lg-12 mt-top">
              <h2 class="head">BEARING</h2>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Center</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Hub</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Steering</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Gear</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Crown</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>King Pin</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Center(Bracket & Patti)</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Alternator</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Flywheel</h4>
           </div>
        </div>
        <div class="row">
           <div class="col-lg-12 mt-top">
              <h2 class="head">BRAKE</h2>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Racher</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Adjustor</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Cam</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Leather</h4>
           </div>
        </div>
        <div class="row">
           <div class="col-lg-12 mt-top">
              <h2 class="head">BUSH</h2>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Front</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Rear</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Bell Crank</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Lift Shocker</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>King Pin</h4>
           </div>
        </div>
        <div class="row">
           <div class="col-lg-12 mt-top">
              <h2 class="head">CABIN </h2>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Meter Plate</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Gang Box/Switch Board</h4>
           </div>
        </div>
        <div class="row">
           <div class="col-lg-12 mt-top">
              <h2 class="head">CNG</h2>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Plug</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Coil</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Oil</h4>
           </div>
        </div>
        <div class="row">
           <div class="col-lg-12 mt-top">
              <h2 class="head">COMPONENT</h2>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Coupling</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Cross Holder</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Teeth</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>UJ Cross</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Yoke</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Relay</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Combination Switch</h4>
           </div>
        </div>
        <div class="row">
           <div class="col-lg-12 mt-top">
              <h2 class="head">COUPLING</h2>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Center Bearing</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Gear</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Defensal</h4>
           </div>
        </div>
        <div class="row">
           <div class="col-lg-12 mt-top">
              <h2 class="head">FAN</h2>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Cabin Fan</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Water Body Fan</h4>
           </div>
        </div>
        <div class="row">
           <div class="col-lg-12 mt-top">
              <h2 class="head">FILTER</h2>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Steering</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Diesel</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Urea/Diesel Exhaust Fluid</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Oil</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Air</h4>
           </div>
        </div>
        <div class="row">
           <div class="col-lg-12 mt-top">
              <h2 class="head">FUSE</h2>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Fuse Box</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Fuse (For Battery)</h4>
           </div>
        </div>
        <div class="row">
           <div class="col-lg-12 mt-top">
              <h2 class="head">GREASE</h2>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Gel Red</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>APXL Green</h4>
           </div>
        </div>
        <div class="row">
           <div class="col-lg-12 mt-top">
              <h2 class="head">HORN</h2>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Musical</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Pressure</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>TT</h4>
           </div>
        </div>
        <div class="row">
           <div class="col-lg-12 mt-top">
              <h2 class="head">HYDRAULIC JACK</h2>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Rod</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Tire Liver</h4>
           </div>
        </div>
        <div class="row">
           <div class="col-lg-12 mt-top">
              <h2 class="head">KIT</h2>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Clutch Plate</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Pressure Plate</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Defensal Complete (Kada Pinon)</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Flywheel Complete (Kada)</h4>
           </div>
        </div>
        <div class="row">
           <div class="col-lg-12 mt-top">
              <h2 class="head">LIGHT(Bulb/Glass/Socket/Holder/Cutout)</h2>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Head Lights</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Parking Lights</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Search Lights</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Cabin Lights</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Crown</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Center Bearing</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Steering</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Engine</h4>
           </div>
        </div>
        <div class="row">
           <div class="col-lg-12 mt-top">
              <h2 class="head">LOCK SET</h2>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Gear Box</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>King Pin</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Cam</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Steering</h4>
           </div>
        </div>
        <div class="row">
           <div class="col-lg-12 mt-top">
              <h2 class="head">LOCK CAP</h2>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Diesel Tank</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Radiator</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Engine (Tap It)</h4>
           </div>
        </div>
        <div class="row">
           <div class="col-lg-12 mt-top">
              <h2 class="head">MAIN PARTS</h2>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Tie Rod End</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Front Axle Gouda</h4>
           </div>
        </div>
        <div class="row">
           <div class="col-lg-12 mt-top">
              <h2 class="head">MISCELLANEOUS PARTS</h2>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Radiator Coolant</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Distilled Water (For battery)</h4>
           </div>
        </div>
        <div class="row">
           <div class="col-lg-12 mt-top">
              <h2 class="head">MOUNTING</h2>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Engine</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Cabin</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Radiator</h4>
           </div>
        </div>
        <div class="row">
           <div class="col-lg-12 mt-top">
              <h2 class="head">NUT/BOLT/WASHER</h2>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>HUB(Tire)</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Gouda</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>U-Bolt</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Gear</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Crown</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Shaft</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Engine</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Body</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Center</h4>
           </div>
        </div>
        <div class="row">
           <div class="col-lg-12 mt-top">
              <h2 class="head">OIL</h2>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Engine Oil</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Gear Oil</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Crown Oil</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Steering TQ Oil</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Break Oil (Fluid)</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>CNG Oil</h4>
           </div>
        </div>
        <div class="row">
           <div class="col-lg-12 mt-top">
              <h2 class="head">OIL SEAL</h2>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Front Hub</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Rear Hub</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Gear</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Alternator</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Silencer</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Axle</h4>
           </div>
        </div>
        <div class="row">
           <div class="col-lg-12 mt-top">
              <h2 class="head">PASTING</h2>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Fevi Bond</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Fevi Kwik</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>M-Seal</h4>
           </div>
        </div>
        <div class="row">
           <div class="col-lg-12 mt-top">
              <h2 class="head">PIN/ Leaves spring (Pate kamani)/Teeth
(Component)</h2>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Front</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Rear</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Bell Crank</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>King Pin Front Axle</h4>
           </div>
        </div>
        <div class="row">
           <div class="col-lg-12 mt-top">
              <h2 class="head">PIPE</h2>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Engine Nozzle Pipe</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Radiator TQ Tank Pipe</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Diesel Main Pipe</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Pressure Pipe</h4>
           </div>
        </div>
        <div class="row">
           <div class="col-lg-12 mt-top">
              <h2 class="head">SELF</h2>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>BendX</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Housing</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Metal Bush</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Alternator</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Electifier Plate</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Cutout</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Stator</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Rocker Plate</h4>
           </div>
        </div>
        <div class="row">
           <div class="col-lg-12 mt-top">
              <h2 class="head">SHIM</h2>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>King Pin</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Front Hub</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Rear Hub</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Kada Pin</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Gear</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Flywheel</h4>
           </div>
        </div>
        <div class="row">
           <div class="col-lg-12 mt-top">
              <h2 class="head">SILENCER</h2>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Engine</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>S Type Big</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Dholaki</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>L Type</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Piece</h4>
           </div>
        </div>
        <div class="row">
           <div class="col-lg-12 mt-top">
              <h2 class="head">STUD</h2>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Pump</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Alternator</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Silencer</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Axle</h4>
           </div>
        </div>
        <div class="row">
           <div class="col-lg-12 mt-top">
              <h2 class="head">SWITCHES</h2>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Air Switch</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Starter Switch</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Headlight Switch</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Push/Pull Switch</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Oil Pressure Switch</h4>
           </div>
        </div>
        <div class="row">
           <div class="col-lg-12 mt-top">
              <h2 class="head">TAPE</h2>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Fixwell</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Teflon</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Cotton</h4>
           </div>
        </div>
        <div class="row">
           <div class="col-lg-12 mt-top">
              <h2 class="head">TOOL KIT</h2>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Ring</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Spanner (Pana)</h4>
           </div>
        </div>
        <div class="row">
           <div class="col-lg-12 mt-top">
              <h2 class="head">VALVE</h2>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Pressure Tank</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Pressure Machine (Chhik Machine)</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Water body (Thermostat)</h4>
           </div>
        </div>
        <div class="row">
           <div class="col-lg-12 mt-top">
              <h2 class="head">WIPER</h2>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Arm</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Blade</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Motor/Machine</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Chideya</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Rod</h4>
           </div>
        </div>
        <div class="row">
           <div class="col-lg-12 mt-top">
              <h2 class="head">WIRING</h2>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Stepneys Wire</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Rear</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Front</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Wire Role</h4>
           </div>
        </div>
        <div class="row">
           <div class="col-lg-12 mt-top">
              <h2 class="head">YOKE</h2>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Half</h4>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
              <h4 class="subhead"><span class="bulleticon iconstyle"></span>Full</h4>
           </div>
        </div>
    </div>
</div>
<!-- Service End -->

<%- include("footer") -%>
